.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: .3rem solid var(--white);
    border-radius: 1rem;
    height: 100%;
    padding: 1rem;
}

.form, .field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input[type="text"], 
.form select {
    padding: 1rem;
    background-color: var(--black);
    border: .3rem solid var(--white);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 1rem;

}
.form select {
    color: var(--white);
    background-color: var(--black);
}

.option {
    background-color: transparent;
}

.field::placeholder {
    color: var(--white);
}
.submit {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
}