.container {
    background-color: var(--white);
    color: var(--black);
    border-radius: 1rem;
    text-align: center;
    height: 100%;
    padding: 1rem;
    border: .3rem solid transparent;
}

.current {
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
}

.temperatures {
    display: flex;
    justify-content: center;
    gap: 3rem;

    p {
        font-weight: 900;
    }

    span {
        font-weight: 400;
    }
}
